{% load static %}

<!DOCTYPE html>
<html>
<head>
	
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Alléluia</title>
    <link rel="stylesheet" href="{% static 'css/grille.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
</head>
<body>
	{% block nav %}
	  {% include "nav.html" %}
	{% endblock %}

    <div class="container">
	   {% block content %}
	         <div class="div col-2">Side bar gauche</div>
	         <div class="clo-8">Milieu pour les choses à la une</div>
	         <div class="col-2">Side  bar à droite</div>
	    {% endblock %}

    </div>

	{% block foot %}
	{% endblock %}
</body>
</html>