
{% extends "base.html" %}
{% load static %}

	{% block content %}
	         <div class="col-8">
              <h1>Un bon</h1>

                 {% if instance_telephone.count > 0 %}

                    <div class="col-12">

 	                   {% for item_telephone in instance_telephone %}

 	                          {{ item_telephone.nom }}
 	                          {{ item_telephone.marque }}

              	             <img src="{{ item_telephone.photo.url }}" title="{{ item_telephone.description }}">

                            <div class="description"></div>

              	      {% endfor %}


                       </div>

                  {% endif %}

	{% endblock %}

  {% block js %}
       <script type="text/javascript" src="{% static 'js/infobule.js' %}"></script>

  {% endblock %}