<div class="menu">Menu
<div class="col-12">
	<ul class="menu_ul">
		<li class="menu_ul_li"><a href="{% url 'electromenager:create_frigo' %}">Créer frigo</a></li>
		<li class="menu_ul_li"><a href="{% url 'electromenager:create_climatiseur' %}">Créer climatiseur</a></li>
		<li class="menu_ul_li"><a href="{% url 'electromenager:create_ventilateur' %}">Créer ventilateur</a></li>
		<li class="menu_ul_li"><a href="{% url 'electromenager:create_lave_linge' %}">Créer machine à laver</a></li>
		<li class="menu_ul_li"><a href="{% url 'electromenager:create_four' %}">Créer four</a></li>


	</ul>
</div>
</div>