<div class="menu">Menu
	<div class="row">
		<div class="col-12">
				<ul class="menu_ul">
					<li class="menu_ul_li"><a href="{% url 'electromenager:create_frigo' %}">Frigo</a></li>
					<li class="menu_ul_li"><a href="{% url 'electromenager:create_climatiseur' %}">Climatiseur</a></li>
					<li class="menu_ul_li"><a href="{% url 'electromenager:create_ventilateur' %}">Ventilateur</a></li>
					<li class="menu_ul_li"><a href="{% url 'electromenager:create_lave_linge' %}">Lave mlinge</a></li>
					<li class="menu_ul_li"><a href="{% url 'electromenager:create_four' %}">Créer four</a></li>


				</ul>
		</div>
	</div>
</div>