{% load static %}


<!-- <div class="container"> -->

		<div class="slider">
				<div class="slideshow">
					<img src="{% static 'images/beautiful.jpg' %}">

					<img src="{% static 'images/beautiful1.jpg' %}">

					<img src="{% static 'images/depression.jpg' %}">


				</div>
				<div class="center">
					<a href="#" id="next"><img src="{% static 'images/icons/leftarrow.png' %}"></a>

					<a href="#" id="prev"><img src="{% static 'images/icons/rightarrow.png' %}"></a>

				</div>
		</div>

<!-- </div> -->

















{% block js %}	
	
{% endblock %}